<div class="container">
                <div class="col-sm-3">

                        <h2>Login</h2>

                        <label>Email:</label>
                        <p><input type="text" id="loginName" name="name" placeholder="User Email"></p>

                        <label for="password">Password:</label>
                        <p> <input type="password" id="loginPassword" name="password" placeholder="User Password"></p>


                        <p><button type="submit" id="loginSubmit">Login</button></p>
                </div>
        </div>

<div class="container">
                <div class="col-sm-3">
                        <h2>Sign Up</h2>
                                <label for="name">Username:</label>
                                <p><input type="text" id="createName" name="name" placeholder="Ex: bugle212" required>
                                </p>
                                <label for="email">Email:</label>
                                <p><input type="email" id="createEmail" name="email" placeholder="Your Email" required>
                                </p>
                                <label for="password">Password:</label>
                                <p><input type="password" id="createPassword" name="password"
                                                placeholder="Must be 8 characters"></p>
                                <p><button type="submit" id="signupSubmit">Sign Up</button></p>
                </div>
        </div>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
                <script src="/js/login.js"> </script>