
h5 {
    text-align: center;
}

#map {
   height: 350px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brewery-template {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-container {
    margin-top: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchButton {
    width: 50%;
}

#saveButton {
    width: 25%;
    position: row;
}